// Color Palette
// examples based on the official Sass styleguide
// descriptive colors
// =============
//black&greys
$black: #000;
$carbon: #333;
$shadowed-steel: #4b4b4b;
$smoked-pearl: #666;
$dark-silver: #6f6f6f;
$platinum-granite: #7f7f7f;
$basalt-grey: #9a9a9a;
$silver-medal: #d5d5d5;
//whites
$white: #fff;
$lighthouse: #f4f4f4;
$lynx-white: #f7f7f7;
$emptyness: #fbfbfb;
$pale-grey: #fefefe;
//purples, violets, magentas
$purple-sapphire: #6c4a8b;
//blues
$pale-sky: #6b717f;
$bright-navy-blue: #1073c7;
$sky-blue: #53c1f2;
//yellows
$golden-poppy: #fcc401;
//reds
$momo-peach: #ef798a;













