.main-content--about-us {

	.main-content__section__cell {
		position: relative;
	}

	.background-photo {

		&.about-tile-photo1 {
			background-image: url('../images/about-tile-photo1.png');
		}

		&.about-tile-photo2 {
			background-image: url('../images/about-tile-photo2.png');
		}

		&.about-tile-photo3 {
			background-image: url('../images/about-tile-photo3.png');
		}
	}

	.tint-overlay.tint-overlay--navy {
		background-color: rgba($bright-navy-blue, .8);
	}

	.tint-overlay.tint-overlay--sky {
		background-color: rgba($sky-blue, .8);
	}

	.horizontal-line--center {
		margin: 1rem auto;
	}

	.link-wrap--scale:hover {

		h2,
		h3 {
			transform: scale(1.2);
		}
	}

	input,
	textarea {
		padding: 2.4rem 0 2.4rem 2.1rem;
		border: .05rem solid transparent;
		border-radius: $radius-border;
		outline: 0;
		box-shadow: inset 0 0 2rem .05rem rgba($black, .3);
		background-color: $color-background-invert;
		transition: $base__transition;


		&:focus {
			border: .05rem solid $golden-poppy;
			box-shadow: 0 0 5rem .1rem rgba($golden-poppy, .3);
		}
	}

	input {

		&[type=number]::-webkit-inner-spin-button,
		&[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	textarea {
		resize: none;
	}
}

.iframe-rwd {
	position: relative;
	padding-bottom: 65.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.iframe-rwd iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main-content__form-section {
	width: 100%;
	background-color: rgba($color-background-invert, .97);
}

.main-content__form-headline {
	width: 100%;
	padding-bottom: 2rem;
	border-bottom: .1rem solid $lynx-white;

	h3,
	.big {
		font-weight: 300;
		color: $lynx-white;
	}
}

.main-content__form-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	.inner {
		margin-bottom: 0;
		input {
			width: 45%;

			&:last-child {
				margin-bottom: 2rem;
			}
		}
	}
}

.main-content__form-column {
	display: flex;
	flex-direction: column;
	width: 45%;

	label,
	input:not(:last-child) {
		margin-bottom: 2rem;
	}
}
